
.profile {
  text-align: center;
  width: 30%;
  float: left;
  background-color: #c0e3e7;
  color: rgb(50, 50, 50);
  font-family: 'Open Sans', sans-serif;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.profile-photo {
  width: 150px;
  padding: 30px;
}

.profile-title {
  font-size: 20px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}

.profile-subtitle {
  font-size: 17px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 300;
}

.profile-contact {
  width: calc(100% - 40px);
  background-color: #fff;
  margin: 20px 0px 0px 0px;
  padding: 30px 20px 30px 20px;
}

/* responsive container for screen sizes smaller than 1000px */
@media (max-width: 1000px) {
    .profile {
      text-align: center;
      width: 100%;
      background-color: #c0e3e7;
      color: rgb(50, 50, 50);
      font-family: 'Open Sans', sans-serif;
      margin: 0px 0px 20px 0px;
    }
}
