
.display-container {
  width: 100%;
  float: left;
  text-align: left;
  background-color: #fff;
  color: rgb(50, 50, 50);
  font-family: 'Open Sans', sans-serif;
}

.basic-display-left {
  width: 40%;
  height: 40px;
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.basic-display-right {
  width: 60%;
  height: 40px;
  float: left;
  font-size: 12px;
}


/* responsive container for screen sizes smaller than 800px */
@media (max-width: 1285px) {
  .basic-display-right {
    width: 60%;
    text-align: right;
    float: right;
    font-size: 12px;
  }
}
